@import './../commons/mixins';
@import './../commons/variables';

.button {
  @include box-shadow(1px, 1px, 4px);
  padding: 8px 15px;
  border-radius: 50px;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $primary-color;
  transition: 0.3s;
  &:hover {
    background-color: darken($color: $primary-color, $amount: 5);
  }
  &.icon svg {
    margin-right: 10px;
  }
}
