@import './../commons/mixins';
@import './../commons/variables';

.BackgroundCard {
  @include box-shadow;
  width: 100%;
  padding: 30px;
  border-left: 5px solid $primary-color;
  border-radius: 7px;
  margin-bottom: 20px;
  &-title {
    line-height: 1.5em;
  }
  &-subtitle {
    color: $grey-text;
    font-weight: bold;
  }
  &-description {
    margin-top: 10px;
  }
}
