@import './../../commons/variables';

.Achievements {
  padding: 80px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  background-color: $ligth-primary;
}
.AchievementItem {
  display: flex;
  &-icon {
    margin-right: 20px;
  }
  &-title {
    margin-bottom: 5px;
  }
  &-subtitle {
    color: $grey-text;
    font-size: 15px;
    text-transform: uppercase;
  }
}
.dark .Achievements {
  background-color: $secondary-black;
}
