@import './../../commons/variables';

.Background {
  padding: 70px 60px;
  &-sections {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
  }
  &-section {
    &-title {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .Background {
    padding: 60px 30px;
    &-sections {
      grid-template-columns: 1fr;
    }
  }
}
